.check-section{
  position: absolute;
  margin-top: 7.5%;
  zoom: 180%;
  left: 8%; 
  font-size: 12px;
}
.contact{
  position: absolute;
  color: #fff;
  top: -1%;
  left: 40px;
  font-size: 20px;
}

.title-box{
  position: absolute;
  width: 300px;
  height: 50px;
  margin-left: 40px;
  margin-top: -15px;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  color: #ffffff;
  line-height: 50px;
  text-decoration: none;
}
.logo{
  position: absolute;
  width: 25px;
  display: flex;
  margin-left: 30px;
  margin-top: -15px;
}

.FisherName{
position: absolute;
display: inline-block;
  border-radius: 50px ;
  top: 10px;
  right: 20px;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.FisherName a{
color: #fff;
text-decoration: none;
}
.FisherName a:hover{
color: #000000;
text-decoration: none;
}
.FisherName:hover{
background: #fff;
color: black;
-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.4);
box-shadow: 0 0 15px rgba(0,0,0,0.4);
 -webkit-transform: scale(1.06);
 -ms-transform: scale(1.06);
 -o-transform: scale(1.06);
 transform: scale(1.06);
}
.FisherName img{
width: 60px;
  height: 50px;
  text-align: center;
}
.Logout{
position: absolute;
display: inline-block;
border-radius: 50px ;
top: 90px;
right: 20px;
padding: 5px 20px;
text-decoration: none;
text-align: center;
font-size: 24px;
font-weight: 700;
-webkit-transition: all 0.25s ease;
-o-transition: all 0.25s ease;
transition: all 0.25s ease;
color: rgba(255, 255, 255, 0.158);
text-decoration: none;
border: 2px solid rgba(255, 255, 255, 0.158);
border-radius: 50px;
}
.Logout:hover{
background: #fff;
color: black;
-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.4);
box-shadow: 0 0 15px rgba(0,0,0,0.4);
 -webkit-transform: scale(1.06);
 -ms-transform: scale(1.06);
 -o-transform: scale(1.06);
 transform: scale(1.06);
}
/** ========================
* Contenedor
============================*/
.pricing-wrapper{
position: relative;
top: 40px;
display: inline-block;
text-align: center;
width: auto;
height: auto;
margin: 20px 0px 40px;
min-height: 800px;
justify-content: center;
align-items: center;
margin-left: 140px;
}

.pricing-table {
position: relative;
margin: 20px 10px;
text-align: center;
width: 300px;
float: left;
-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.4);
box-shadow: 0 0 15px rgba(0,0,0,0.4);
-webkit-transition: all 0.25s ease;
-o-transition: all 0.25s ease;
transition: all 0.25s ease;
}

.pricing-table:hover {
-webkit-transform: scale(1.06);
-ms-transform: scale(1.06);
-o-transform: scale(1.06);
transform: scale(1.06);
}

.pricing-title {
color: #FFF;
background: #ff0000;
padding: 20px 0;
font-size: 2em;
text-transform: uppercase;
text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}




.pricing-table .price {
background: #fff;
font-size: 3.4em;
font-weight: 700;
padding: 20px 0;
text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.pricing-table .price button{
  border: none;
  background: #fff;
}

.table-list {
background: #FFF;
color: #403d3a;
list-style-type: none;
}

.table-list li {
font-size: 22px;
font-weight: 700;
padding: 12px 8px;
list-style-type: none;
text-align: left;
}

.table-buy {
background: #FFF;
padding: 15px;
text-align: center;
overflow: hidden;
}

.table-buy p {
position: relative;
color: #37353a;
font-weight: 700;
font-size: 36px;
margin-top: 5px;
}


.table-buy .pricing-action {
color: #FFF;
background: #ff0000;
padding: 10px 100px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border: none;
border-radius: 20px;
font-weight: 700;
font-size: 1.4em;
box-shadow:0 1px 1px rgba(0,0,0,0.4);
text-shadow: 0 1px 1px rgba(0,0,0,0.4);
-webkit-transition: all 0.25s ease;
-o-transition: all 0.25s ease;
transition: all 0.25s ease;
text-decoration: none;
}

.table-buy .pricing-action:hover {
background: #bd3600;

}

.recommended .table-buy .pricing-action:hover {
background: #ff0000;	
}

/** ================
* Responsive
===================*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
 .pricing-wrapper {
 width: 1050px;
 }

 .pricing-table {
 width: 236px;
 }

.table-list li {
font-size: 1.3em;
}

}

@media only screen and (max-width: 767px) {
 .pricing-wrapper {
 width: 420px;
 }

 .pricing-table {
 display: block;
 float: none;
 margin: 0 0 20px 0;
 width: 100%;
 }
}

@media only screen and (max-width: 479px) {
.pricing-wrapper {
width: 300px;
}
} 



table caption {
  padding: .5em 0;
}

table.dataTable th,
table.dataTable td {
white-space: nowrap;
}

.p {
text-align: center;
padding-top: 140px;
font-size: 14px;
}

.price img{
  width: 130px;
  height: 130px;
  padding: 10px 20px;
}
